<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Person Information</title>
</head>
<body>

    <div>
        <p>fibonacci of {{ number }}  = {{ fibonacci(number) }} </p>
        <p> sum = {{ sum }} </p>
        <p> avg = {{ avg }} </p>
        <p> min = {{ min }} </p>
        <p> max = {{ max }} </p>
    </div>
</body>
</html>
