<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Person Information</title>
</head>
<body>
    <p> {{ string }} </p>
    <p> {{ boolean }} </p>
    <p> {{ integer }} </p>
    <p> {{ float }} </p>
    <p> {{ list[0] }} </p>
    <p> {{ dictionary.value1 }} </p>
</body>
</html>
