<!DOCTYPE html>
<html>
<head>
    <title>{{ site_title }}</title>
</head>
<body>

{% if user_logged_in %}
<h1>Welcome Back!</h1>
{% endif %}

<p>Current User: {{ user_name }}</p>


<p>Bonus Point Calculation: {{ site_title + 10 }}</p>


<ul>
    {% for score in user_score %}
    <li>Score point: {{ score }}</li>
    {% endfor %}
</ul>


<h3>Compiler Pipeline Status:</h3>
<ul>
    {% for element in items_list %}
    <li>{{ element }}</li>
    {% endfor %}
</ul>
{{ site_title }}
{{ 5 + "Hello" }}
</body>
</html>
